flow.json
[
    {
        "id": "44b4b2aabf89cac2",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d39f8680ad26c70c",
        "type": "http request",
        "z": "44b4b2aabf89cac2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://ll.thespacedevs.com/2.2.0/astronaut/?format=json&limit=40&offset=10",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "eae27ac47a0c9a03"
            ]
        ]
    },
    {
        "id": "eae27ac47a0c9a03",
        "type": "template",
        "z": "44b4b2aabf89cac2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n    <html lang=\"en\">\n    <head>\n        <meta charset=\"UTF-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <!--<title>Responsive Card Slider</title>-->\n\n        <!-- Swiper CSS -->\n        <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css\">\n\n      \n      \n        <!-- CSS -->\n        <style>\n            /* Google Fonts - Poppins */\n@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');\n\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  font-family: 'Poppins', sans-serif;\n}\nbody{\n  min-height: 100vh;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  background-color: #EFEFEF;\n  flex-direction: column;\n}\n.slide-container{\n  max-width: 1120px;\n  width: 100%;\n  height: 640px;\n  padding: 40px 0;\n}\n.slide-content{\n  margin: 0 40px;\n  overflow: hidden;\n  border-radius: 25px;\n}\n.card{\n  border-radius: 25px;\n  background-color: #FFF;\n}\n.image-content,\n.card-content{\n  display: flex;\n  flex-direction: column;\n  align-items: center;\n  padding: 10px 14px;\n}\n.image-content{\n  position: relative;\n  row-gap: 5px;\n  padding: 25px 0;\n}\n.overlay{\n  position: absolute;\n  left: 0;\n  top: 0;\n  height: 100%;\n  width: 100%;\n  background-color: #4070F4;\n  border-radius: 25px 25px 0 25px;\n}\n.overlay::before,\n.overlay::after{\n  content: '';\n  position: absolute;\n  right: 0;\n  bottom: -40px;\n  height: 40px;\n  width: 40px;\n  background-color: #4070F4;\n}\n.overlay::after{\n  border-radius: 0 25px 0 0;\n  background-color: #FFF;\n}\n.card-image{\n  position: relative;\n  height: 150px;\n  width: 150px;\n  border-radius: 50%;\n  background: #FFF;\n  padding: 3px;\n}\n.card-image .card-img{\n  height: 100%;\n  width: 100%;\n  object-fit: cover;\n  border-radius: 50%;\n  border: 4px solid #4070F4;\n}\n.name{\n  font-size: 18px;\n  font-weight: 500;\n  color: #333;\n}\n.description{\n  font-size: 14px;\n  color: #707070;\n  text-align: center;\n  max-height: 230px;\n  overflow-y: auto;\n}\n.button{\n  border: none;\n  font-size: 16px;\n  color: #FFF;\n  padding: 8px 16px;\n  background-color: #4070F4;\n  border-radius: 6px;\n  margin: 14px;\n  cursor: pointer;\n  transition: all 0.3s ease;\n}\n.button:hover{\n  background: #265DF2;\n}\n\n.swiper-navBtn{\n  color: #6E93f7;\n  transition: color 0.3s ease;\n}\n.swiper-navBtn:hover{\n  color: #4070F4;\n}\n.swiper-navBtn::before,\n.swiper-navBtn::after{\n  font-size: 38px;\n}\n.swiper-button-next{\n  right: 0;\n}\n.swiper-button-prev{\n  left: 0;\n}\n.swiper-pagination-bullet{\n  background-color: #6E93f7;\n  opacity: 1;\n}\n.swiper-pagination-bullet-active{\n  background-color: #4070F4;\n}\n\n@media screen and (max-width: 768px) {\n  .slide-content{\n    margin: 0 10px;\n  }\n  .swiper-navBtn{\n    display: none;\n  }\n}\n\n        </style>\n                                        \n    </head>\n    <body>\n        <h1 style=\"text-align: center; color: #4070F4\"> List of Astronouts - Live API</h1>\n        <div class=\"slide-container swiper\">\n            <div class=\"slide-content\">\n                <div class=\"card-wrapper swiper-wrapper\">\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                               <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                   <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                 <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                    <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                    <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                    <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                    <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n                                    <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">\n                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                    <div class=\"card swiper-slide\">\n                        <div class=\"image-content\">\n                            <span class=\"overlay\"></span>\n\n                            <div class=\"card-image\">\n <img src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png\" alt=\"\" class=\"card-img\">                            </div>\n                        </div>\n\n                        <div class=\"card-content\">\n                            <h2 class=\"name\">Mohamed Yousef\n</h2>\n                            <p class=\"description\">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>\n\n                            <button class=\"button\">View More</button>\n                        </div>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"swiper-button-next swiper-navBtn\"></div>\n            <div class=\"swiper-button-prev swiper-navBtn\"></div>\n            <div class=\"swiper-pagination\"></div>\n        </div>\n        <small style=\"text-align: center\"> API being used https://thespacedevs.com/llapi  </small>\n        <template id=\"json\">\n            {{payload}}\n        </template>\n    </body>\n\n    <!-- Swiper JS -->\n   <script src=\"//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js\"></script>\n\n    <!-- JavaScript -->\n      <!--Uncomment this line-->\n    <script src=\"//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js\"></script>\n    <script>\n         let data = document.querySelector(\"template\").innerHTML;\n          data = JSON.parse(data);\n          console.log(data);\n          document.querySelectorAll(\"card-image img\")\n          for (let i = 0; i < document.querySelectorAll(\".swiper-slide\").length; i++) {\n            document.querySelectorAll(\".card-image img\")[i].src = data.results[i].profile_image;\n            document.querySelectorAll(\".card-content .name\")[i].innerHTML = data.results[i].name;\n            document.querySelectorAll(\".card-content .description\")[i].innerHTML = data.results[i].bio;\n          }\n\nvar swiper = new Swiper(\".slide-content\", {\n    slidesPerView: 3,\n    spaceBetween: 25,\n    loop: true,\n    centerSlide: 'true',\n    fade: 'true',\n    grabCursor: 'true',\n    pagination: {\n      el: \".swiper-pagination\",\n      clickable: true,\n      dynamicBullets: true,\n    },\n    navigation: {\n      nextEl: \".swiper-button-next\",\n      prevEl: \".swiper-button-prev\",\n    },\n\n    breakpoints:{\n        0: {\n            slidesPerView: 1,\n        },\n        520: {\n            slidesPerView: 2,\n        },\n        950: {\n            slidesPerView: 3,\n        },\n    },\n  });\n    \n    </script>\n</html>\n\n",
        "output": "str",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "0a1a93c18d169c42"
            ]
        ]
    },
    {
        "id": "0a1a93c18d169c42",
        "type": "http response",
        "z": "44b4b2aabf89cac2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "13288d44ce2f12ac",
        "type": "http in",
        "z": "44b4b2aabf89cac2",
        "name": "",
        "url": "/anupam",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "d39f8680ad26c70c"
            ]
        ]
    }
]
